<div id="content">
  <div class="container background-white">
    <div class="row margin-vert-30">
      <div class="col-md-12">
        <div class="blog-post">
          <div class="blog-item-header">
            <h2>
              {{record.title}}
            </h2>
            <div class="blog-post-date">
              <a href="#">
                {{record.created_at | date: "%d, %b, %Y" }}
              </a>
            </div>
          </div>
          <div class="blog-item">
            <div class="clearfix"></div>
            <div class="blog-post-body row margin-top-15">
              <div class="col-md-12">
                {% if record.cover %}
                  <img src="{{ record.image | attachment_url: 'big'}}" class="cover" />
                {% endif %}
                {{record.text}}
                {% if website_data.disqus_code %}
                  {{website_data.disqus_code}}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
